<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PlistInfo</key>
	<dict>
		<key>ver</key>
		<integer>1</integer>
		<key>updateUrl</key>
		<string>https://gitee.com/please_call_me_god/comics/raw/master/KanManHuaPro.plist</string>
	</dict>
	<key>Servers</key>
	<array>
		<dict>
			<key>title</key>
			<string>看漫画Pro ⓩ</string>
			<key>mainURL</key>
			<string>https://api.yyhao.com</string>
			<key>serverOnlyID</key>
			<integer>1030</integer>
			<key>headersForWebPage</key>
			<dict/>
			<key>headersForCoverImage</key>
			<dict/>
			<key>headersForDownloadComicImage</key>
			<dict/>
			<key>headersForOnlineViewComicImage</key>
			<dict/>
			<key>removeNoShowOfComicNameList</key>
			<array/>
			<key>classOfChooseList</key>
			<dict>
				<key>Classes</key>
				<array>
					<dict>
						<key>title</key>
						<string>热血</string>
						<key>url1</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=rexue&amp;page=1&amp;orderby=click&amp;search_key=</string>
						<key>url</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=rexue&amp;page=@&amp;orderby=click&amp;search_key=</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>title</key>
						<string>机战</string>
						<key>url1</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=jizhan&amp;page=1&amp;orderby=click&amp;search_key=</string>
						<key>url</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=jizhan&amp;page=@&amp;orderby=click&amp;search_key=</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>title</key>
						<string>运动</string>
						<key>url1</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=yundong&amp;page=1&amp;orderby=click&amp;search_key=</string>
						<key>url</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=yundong&amp;page=@&amp;orderby=click&amp;search_key=</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>title</key>
						<string>推理</string>
						<key>url1</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=tuili&amp;page=1&amp;orderby=click&amp;search_key=</string>
						<key>url</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=tuili&amp;page=@&amp;orderby=click&amp;search_key=</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>title</key>
						<string>冒险</string>
						<key>url1</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=maoxian&amp;page=1&amp;orderby=click&amp;search_key=</string>
						<key>url</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=maoxian&amp;page=@&amp;orderby=click&amp;search_key=</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>title</key>
						<string>耽美</string>
						<key>url1</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=liaomei&amp;page=1&amp;orderby=click&amp;search_key=</string>
						<key>url</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=liaomei&amp;page=@&amp;orderby=click&amp;search_key=</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>title</key>
						<string>百合</string>
						<key>url1</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=baihe&amp;page=1&amp;orderby=click&amp;search_key=</string>
						<key>url</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=baihe&amp;page=@&amp;orderby=click&amp;search_key=</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>title</key>
						<string>搞笑</string>
						<key>url1</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=gaoxiao&amp;page=1&amp;orderby=click&amp;search_key=</string>
						<key>url</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=gaoxiao&amp;page=@&amp;orderby=click&amp;search_key=</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>title</key>
						<string>战争</string>
						<key>url1</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=zhanzhen&amp;page=1&amp;orderby=click&amp;search_key=</string>
						<key>url</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=rexue&amp;page=@&amp;orderby=click&amp;search_key=</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>title</key>
						<string>神魔</string>
						<key>url1</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=shenmo&amp;page=1&amp;orderby=click&amp;search_key=</string>
						<key>url</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=shenmo&amp;page=@&amp;orderby=click&amp;search_key=</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>title</key>
						<string>忍者</string>
						<key>url1</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=renzhe&amp;page=1&amp;orderby=click&amp;search_key=</string>
						<key>url</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=renzhe&amp;page=@&amp;orderby=click&amp;search_key=</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>title</key>
						<string>竞技</string>
						<key>url1</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=jingji&amp;page=1&amp;orderby=click&amp;search_key=</string>
						<key>url</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=jingji&amp;page=@&amp;orderby=click&amp;search_key=</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>title</key>
						<string>悬疑</string>
						<key>url1</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=xuanyi&amp;page=1&amp;orderby=click&amp;search_key=</string>
						<key>url</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=xuanyi&amp;page=@&amp;orderby=click&amp;search_key=</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>title</key>
						<string>社会</string>
						<key>url1</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=shehui&amp;page=1&amp;orderby=click&amp;search_key=</string>
						<key>url</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=shehui&amp;page=@&amp;orderby=click&amp;search_key=</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>title</key>
						<string>恋爱</string>
						<key>url1</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=lianai&amp;page=1&amp;orderby=click&amp;search_key=</string>
						<key>url</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=lianai&amp;page=@&amp;orderby=click&amp;search_key=</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>title</key>
						<string>宠物</string>
						<key>url1</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=chongwu&amp;page=1&amp;orderby=click&amp;search_key=</string>
						<key>url</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=chongwu&amp;page=@&amp;orderby=click&amp;search_key=</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>title</key>
						<string>吸血</string>
						<key>url1</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=xixue&amp;page=1&amp;orderby=click&amp;search_key=</string>
						<key>url</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=xixue&amp;page=@&amp;orderby=click&amp;search_key=</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>title</key>
						<string>萝莉</string>
						<key>url1</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=luoli&amp;page=1&amp;orderby=click&amp;search_key=</string>
						<key>url</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=luoli&amp;page=@&amp;orderby=click&amp;search_key=</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>title</key>
						<string>后宫</string>
						<key>url1</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=hougong&amp;page=1&amp;orderby=click&amp;search_key=</string>
						<key>url</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=hougong&amp;page=@&amp;orderby=click&amp;search_key=</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>title</key>
						<string>御姐</string>
						<key>url1</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=yujie&amp;page=1&amp;orderby=click&amp;search_key=</string>
						<key>url</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=yujie&amp;page=@&amp;orderby=click&amp;search_key=</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>classGetResponseIsPostMethod_PostDataKeys_Dict</key>
				<dict/>
				<key>classGetResponseIsPostMethod_PostData_PageNoKey</key>
				<string>pageno</string>
				<key>classGetResponseIsPostMethod_PostData_PageSizeKey</key>
				<string>pagesize</string>
				<key>classGetResponseIsPostMethod_PostData_ClassIDKey</key>
				<string>subject</string>
				<key>classComicCoverImageUrlMainUrl</key>
				<string>image.jjmh.com</string>
				<key>classPageType_HTMLIsYES_JSONIsNO</key>
				<false/>
				<key>classOfIsHtml</key>
				<dict>
					<key>classWebPageSourceCharset_UTF8IsYES_GB2312IsNo</key>
					<false/>
					<key>classWebPageSourceReplaceStr_Array</key>
					<array/>
					<key>classWebPageSourceResolveBegin</key>
					<string></string>
					<key>classWebPageSourceResolveEnd</key>
					<string></string>
					<key>classWebPageSourceRegex</key>
					<dict>
						<key>regex</key>
						<string></string>
						<key>name</key>
						<integer>0</integer>
						<key>author</key>
						<integer>0</integer>
						<key>state</key>
						<integer>0</integer>
						<key>stateStringBegin</key>
						<string></string>
						<key>coverImageUrl</key>
						<integer>0</integer>
						<key>coverImageUrlIsNeedUTF8Encode</key>
						<false/>
						<key>comicDetailPageUrl</key>
						<integer>0</integer>
						<key>comicDetailPageIsNeedAddMainUrl</key>
						<string></string>
					</dict>
					<key>classEndPageFlag</key>
					<string></string>
				</dict>
				<key>classOfIsJson</key>
				<dict>
					<key>classJsonResponse_ObjectForKey_Array</key>
					<array>
						<string>data</string>
					</array>
					<key>classJsonSetHTTPMethod_POSTOrGET</key>
					<string></string>
					<key>classComicDetailPageUrlStringByReplacing_ComicUrlFormat</key>
					<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getcomicinfo_body/?comic_id=@</string>
					<key>classComicCoverImageUrlStringByReplacing_CoverImageUrlFormat</key>
					<string>http://image.samanlehua.com/mh/@.jpg-480x640.jpg</string>
					<key>classComicNextPageIsNotFixationAdd</key>
					<true/>
					<key>classJsonNextPageResponse_ObjectForKey_Array</key>
					<array>
						<string>data</string>
					</array>
					<key>classJsonNextPageNumWithKey</key>
					<string>end</string>
					<key>classKey</key>
					<dict>
						<key>nameKey</key>
						<string>comic_name</string>
						<key>authorKey</key>
						<string></string>
						<key>stateWithDicShow_StrIsYES_NumIsNO</key>
						<true/>
						<key>stateKey</key>
						<string>last_chapter_name</string>
						<key>imageUrlKey</key>
						<string>comic_id</string>
						<key>comicUrlKey</key>
						<string>comic_id</string>
					</dict>
				</dict>
			</dict>
			<key>updateOfChooseList</key>
			<dict>
				<key>updateComicUrlWithDataIsNeedNowTime_Dict</key>
				<dict/>
				<key>updatePageMainUrl</key>
				<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=lianzai&amp;page=1&amp;orderby=date&amp;search_key=</string>
				<key>updateGetResponseIsPostMethod_PostDataKeys_Dict</key>
				<dict/>
				<key>updateGetResponseIsPostMethod_PostData_PageNoKey</key>
				<string>pageno</string>
				<key>updateGetResponseIsPostMethod_PostData_PageSizeKey</key>
				<string>pagesize</string>
				<key>updateGetResponseIsPostMethod_PostData_ClassIDKey</key>
				<string>subject</string>
				<key>updateComicCoverImageUrlMainUrl</key>
				<string>image.jjmh.com</string>
				<key>updatePageType_HTMLIsYES_JSONIsNO</key>
				<false/>
				<key>updateOfIsHtml</key>
				<dict>
					<key>updateWebPageSourceCharset_UTF8IsYES_GB2312IsNo</key>
					<true/>
					<key>updateWebPageSourceRepleaseStr_Array</key>
					<array>
						<string>换行</string>
						<string>回车</string>
						<string>&lt;link</string>
					</array>
					<key>updateWebPageSourceResolveBegin</key>
					<string></string>
					<key>updateWebPageSourceResolveEnd</key>
					<string>$(document).ready(function()</string>
					<key>updateWebPageSourceRegex</key>
					<dict>
						<key>regex</key>
						<string>&lt;img src=&quot;(.*?)&quot; width=&quot;100%&quot; onclick=&quot;enterBook\((.*?)\)&quot; class=&quot;bnels&quot;&gt;(.*?)&lt;div class=&quot;banlet&quot;&gt;&lt;p class=&quot;(.*?)&quot;&gt;&lt;b&gt;(.*?)&lt;/b&gt; &lt;/p&gt; &lt;p class=&quot;titlekbh&quot;&gt;&amp;nbsp;&amp;nbsp;(.*?)&lt;/p&gt;</string>
						<key>name</key>
						<integer>5</integer>
						<key>author</key>
						<integer>0</integer>
						<key>state</key>
						<integer>6</integer>
						<key>stateStringBegin</key>
						<string></string>
						<key>coverImageUrl</key>
						<integer>0</integer>
						<key>coverImageUrlIsNeedUTF8Encode</key>
						<false/>
						<key>comicDetailPageUrl</key>
						<integer>2</integer>
						<key>comicDetailPageIsNeedAddMainUrl</key>
						<string>http://dajiaochong.517w.com/index.php?m=content&amp;c=index&amp;a=show&amp;catid=32&amp;id=</string>
					</dict>
				</dict>
				<key>updateOfIsJson</key>
				<dict>
					<key>updateJsonResponse_ObjectForKey_Array</key>
					<array>
						<string>data</string>
					</array>
					<key>updateComicDetailPageUrlStringByReplacing_ComicUrlFormat</key>
					<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getcomicinfo_body/?comic_id=@</string>
					<key>updateComicCoverImageUrlStringByReplacing_CoverImageUrlFormat</key>
					<string>http://image.samanlehua.com/mh/@.jpg-480x640.jpg</string>
					<key>updateKey</key>
					<dict>
						<key>nameKey</key>
						<string>comic_name</string>
						<key>authorKey</key>
						<string></string>
						<key>stateWithDicShow_StrIsYES_NumIsNO</key>
						<true/>
						<key>stateKey</key>
						<string>last_chapter_name</string>
						<key>imageUrlKey</key>
						<string>comic_id</string>
						<key>comicUrlKey</key>
						<string>comic_id</string>
					</dict>
				</dict>
			</dict>
			<key>hotOfChoosseList</key>
			<dict>
				<key>hotPageMainUrl</key>
				<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=dalu&amp;page=1&amp;orderby=click&amp;search_key=</string>
				<key>hotGetResponseIsPostMethod_PostDataKeys_Dict</key>
				<dict/>
				<key>hotGetResponseIsPostMethod_PostData_PageNoKey</key>
				<string>pageno</string>
				<key>hotGetResponseIsPostMethod_PostData_PageSizeKey</key>
				<string>pagesize</string>
				<key>hotGetResponseIsPostMethod_PostData_ClassIDKey</key>
				<string>subject</string>
				<key>hotComicCoverImageUrlMainUrl</key>
				<string>image.jjmh.com</string>
				<key>hotPageType_HTMLIsYES_JSONIsNO</key>
				<false/>
				<key>hotOfIsHtml</key>
				<dict>
					<key>hotWebPageSourceCharset_UTF8IsYES_GB2312IsNo</key>
					<false/>
					<key>hotWebPageSourceRepleaseStr_Array</key>
					<array>
						<string>换行</string>
						<string>回车</string>
						<string>&lt;link</string>
					</array>
					<key>hotWebPageSourceResolveBegin</key>
					<string></string>
					<key>hotWebPageSourceResolveEnd</key>
					<string></string>
					<key>hotWebPageSourceRegex</key>
					<dict>
						<key>regex</key>
						<string></string>
						<key>name</key>
						<integer>0</integer>
						<key>author</key>
						<integer>0</integer>
						<key>state</key>
						<integer>0</integer>
						<key>stateStringBegin</key>
						<string></string>
						<key>coverImageUrl</key>
						<integer>0</integer>
						<key>coverImageUrlIsNeedUTF8Encode</key>
						<true/>
						<key>comicDetailPageUrl</key>
						<integer>0</integer>
						<key>comicDetailPageIsNeedAddMainUrl</key>
						<string></string>
					</dict>
				</dict>
				<key>hotOfIsJson</key>
				<dict>
					<key>hotJsonResponse_ObjectForKey_Array</key>
					<array>
						<string>data</string>
					</array>
					<key>hotComicDetailPageUrlStringByReplacing_ComicUrlFormat</key>
					<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getcomicinfo_body/?comic_id=@</string>
					<key>hotComicCoverImageUrlStringByReplacing_CoverImageUrlFormat</key>
					<string>http://image.samanlehua.com/mh/@.jpg-480x640.jpg</string>
					<key>hotKey</key>
					<dict>
						<key>nameKey</key>
						<string>comic_name</string>
						<key>authorKey</key>
						<string></string>
						<key>stateWithDicShow_StrIsYES_NumIsNO</key>
						<true/>
						<key>stateKey</key>
						<string>last_chapter_name</string>
						<key>imageUrlKey</key>
						<string>comic_id</string>
						<key>comicUrlKey</key>
						<string>comic_id</string>
					</dict>
				</dict>
			</dict>
			<key>detailsOfChooseList</key>
			<dict>
				<key>detailsPageType_HTMLIsYES_JSONIsNO</key>
				<false/>
				<key>detailsReplaceStringIsNeedReturnReplace_NeedIsYES_OrIsNO</key>
				<false/>
				<key>detailComicListIsSortedYESOrNo</key>
				<false/>
				<key>detailsOfIsJson</key>
				<dict>
					<key>detailsForListIsNeedDataOfOldDic_NeedIsYES_OrIsNO</key>
					<false/>
					<key>detailsComicNoWorkDownload_IsYES_OrNO</key>
					<true/>
					<key>detailsComicCoverImageUrlNeedInfoKey_NeedIsYES_OrIsNO</key>
					<false/>
					<key>detailsComponentsSeparatedByStringWithUrl</key>
					<string>=</string>
					<key>detailsComicNoWalkDownload_IsYES_OrNO</key>
					<true/>
					<key>detailsComicNoBlockArr</key>
					<true/>
					<key>detailsComicBlockNeedConnectionUrlArr</key>
					<false/>
					<key>detailsComicNeedUpdateSuburl</key>
					<true/>
					<key>detailsComicDataSourceNeedConnectionUrl</key>
					<true/>
					<key>detailsJsonResponse_ObjectForKey_DetailsArray</key>
					<array/>
					<key>detailsJsonResponse_ObjectForKey_ListArray</key>
					<array>
						<string>comic_chapter</string>
					</array>
					<key>detailsInfoKey</key>
					<dict>
						<key>comicMainURL_NeedReplaceFormat</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getcomicinfo_body/?comic_id=#</string>
						<key>comicUpdateTimeKey</key>
						<string>update_time</string>
						<key>comicUpdateTimeIsNeedInterval</key>
						<true/>
						<key>comicStateKey</key>
						<string>last_chapter_id</string>
						<key>comicStateWithDicShow_StrIsYES_NumIsNO</key>
						<false/>
						<key>comicStateDicKeyArray</key>
						<array/>
						<key>comicStateArrayNum</key>
						<integer>0</integer>
						<key>comicAutherKey</key>
						<string>comic_author</string>
						<key>comicAuthorDicKeyArray</key>
						<array/>
						<key>comicAuthorArrayNum</key>
						<integer>0</integer>
						<key>comicIntroKey</key>
						<string>comic_desc</string>
						<key>comicIntroDicKeyArray</key>
						<array/>
						<key>comicIntroArrayNum</key>
						<integer>0</integer>
						<key>comicCoverImageUrl</key>
						<string></string>
						<key>comicCoverImageDicKeyArray</key>
						<array/>
						<key>comicCoverImageArrayNum</key>
						<integer>0</integer>
						<key>comicWithCookie_Regular</key>
						<string></string>
						<key>cookieHeadNum</key>
						<integer>0</integer>
						<key>cookieEndNum</key>
						<integer>0</integer>
					</dict>
					<key>detailsSubListKey</key>
					<dict>
						<key>subListURL_NeedReplaceFormat</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getcomicinfo_body/?comic_id=#</string>
						<key>subListObjectForKey_UrlKey</key>
						<string></string>
						<key>subListManuallyChooseResources_NeedArrayNum</key>
						<integer>99</integer>
						<key>subListNewComicResources_ObjectForKey_ListArray</key>
						<array>
							<string>comic_chapter</string>
						</array>
						<key>subListShowDictHaveArrayTotalNumber_Key</key>
						<string></string>
						<key>subOneListURL</key>
						<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getcomicinfo_body/?comic_id=#</string>
						<key>subListTitleKey</key>
						<string>chapter_name</string>
						<key>subListUrlKey</key>
						<string>chapter_id</string>
						<key>subNextUrlKey</key>
						<string></string>
						<key>subChapter_source_Name</key>
						<string>chapter_name</string>
						<key>subChapter_source_Key</key>
						<dict>
							<key>subSource_url</key>
							<string>source_url</string>
							<key>subRule</key>
							<string>rule</string>
							<key>subStart_num</key>
							<string>start_num</string>
							<key>subEnd_num</key>
							<string>end_num</string>
							<key>subChapter_domain</key>
							<string>chapter_domain</string>
						</dict>
						<key>subChapter_image_addBeforeStr</key>
						<array>
							<string>zymkcdn.com</string>
							<string>http://mhpic.zymkcdn.com</string>
							<string></string>
							<string>http://mhpic.jjmh.com</string>
						</array>
						<key>subChapter_image_appendingStr</key>
						<string>-kmw.middle</string>
					</dict>
				</dict>
				<key>detailsOfIsHtml</key>
				<dict>
					<key>detailsWebPageSourceCharset_UTF8IsYES_GB2312IsNo</key>
					<false/>
					<key>detailsWebPageSourceReplaceStr_Array</key>
					<array>
						<string>换行</string>
						<string>回车</string>
						<string>&amp;nbsp;</string>
					</array>
					<key>detailsWebPageSourceRe_ReplaceStr_Array</key>
					<array>
						<string>###</string>
						<string>@@@</string>
					</array>
					<key>detailsCoverImageUrlDeleteStr_Array</key>
					<array>
						<string>换行</string>
						<string>回车</string>
					</array>
					<key>detailsWebPageSourceRegex</key>
					<dict>
						<key>authorRegular</key>
						<string></string>
						<key>authorIndex</key>
						<integer>0</integer>
						<key>stateRegular</key>
						<string></string>
						<key>stateIndex</key>
						<integer>0</integer>
						<key>favStateRegular</key>
						<string></string>
						<key>favStateIndex</key>
						<integer>0</integer>
						<key>updateDateRegular</key>
						<string></string>
						<key>updateDateIndex</key>
						<integer>0</integer>
						<key>introRegular</key>
						<string></string>
						<key>introIndex</key>
						<integer>0</integer>
						<key>coverImageRegular</key>
						<string></string>
						<key>coverImageIndex</key>
						<integer>0</integer>
						<key>coverImageStringEnd</key>
						<string></string>
						<key>subListStart</key>
						<string></string>
						<key>subListEnd</key>
						<string></string>
						<key>subListRegular</key>
						<string></string>
						<key>subTitleIndex</key>
						<integer>0</integer>
						<key>subUrlIndex</key>
						<integer>0</integer>
					</dict>
					<key>detailsWebPageSourceNewRegex</key>
					<dict>
						<key>detailsNewComicUrl</key>
						<string></string>
						<key>authorRegular</key>
						<string></string>
						<key>authorIndex</key>
						<integer>0</integer>
						<key>stateRegular</key>
						<string></string>
						<key>stateIndex</key>
						<integer>0</integer>
						<key>favStateRegular</key>
						<string></string>
						<key>favStateIndex</key>
						<integer>0</integer>
						<key>updateDateRegular</key>
						<string></string>
						<key>updateDateIndex</key>
						<integer>0</integer>
						<key>introRegular</key>
						<string></string>
						<key>introIndex</key>
						<integer>0</integer>
						<key>coverImageRegular</key>
						<string></string>
						<key>coverImageIndex</key>
						<integer>0</integer>
						<key>coverImageStringEnd</key>
						<string></string>
						<key>subListStart</key>
						<string></string>
						<key>subListEnd</key>
						<string></string>
						<key>subListRegular</key>
						<string></string>
						<key>subTitleIndex</key>
						<integer>0</integer>
						<key>subUrlIndex</key>
						<integer>0</integer>
					</dict>
				</dict>
			</dict>
			<key>searchOfChooseList</key>
			<dict>
				<key>searchKeyWordConvertString_NeedUTF8IsYES_GB2312IsNO</key>
				<true/>
				<key>searchPageType_HTMLIsYES_JSONIsNO</key>
				<false/>
				<key>searchComicMainUrlIsChange_ReplaceMainUrl</key>
				<string></string>
				<key>searchMainUrlStringWithSplite_ArrayOfNum</key>
				<integer>0</integer>
				<key>searchPageComicMainUrl</key>
				<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=&amp;page=1&amp;orderby=click&amp;search_key=@</string>
				<key>searchPageComicMainUrlNextUrl</key>
				<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getsortlist/?comic_sort=&amp;page=#&amp;orderby=click&amp;search_key=@</string>
				<key>searchResponseIsNeedPagingMethod_NeedIsYES_OrIsNO</key>
				<false/>
				<key>searchResponseIsPagingMethod_PageKeys_Dict</key>
				<dict>
					<key>pagingMethod_pageNum</key>
					<integer>28</integer>
					<key>pagingMethod_replaceStr</key>
					<string></string>
					<key>pagingMethod_divisionStr</key>
					<string></string>
				</dict>
				<key>searchAllResponseIsPagingMethod_PageKeys_Dict</key>
				<dict>
					<key>page</key>
					<string>28</string>
				</dict>
				<key>searchWebPageSourceReplaceStr_Array</key>
				<array>
					<string>换行</string>
					<string>回车</string>
				</array>
				<key>searchOfIsHtml</key>
				<dict>
					<key>searchComicUrlHasSuffixIsPHP</key>
					<true/>
					<key>searchPageHasNextPage</key>
					<true/>
					<key>searchCharset_UTF8IsYES_GB2312IsNo</key>
					<false/>
					<key>searchWebPageSourceResolveBegin</key>
					<string></string>
					<key>searchWebPageSourceResolveEnd</key>
					<string></string>
					<key>searchPageRegularRegex</key>
					<dict>
						<key>searchViewstateRegex</key>
						<string></string>
						<key>searchEventvalidationRegex</key>
						<string></string>
						<key>searchPostParameter</key>
						<dict/>
						<key>searchSetHTTPMethod_POSTOrGET</key>
						<string>GET</string>
						<key>searchResultsRegularRegex</key>
						<dict>
							<key>regex</key>
							<string></string>
							<key>name</key>
							<integer>0</integer>
							<key>webPageSourceNameReplaceStr_Array</key>
							<array/>
							<key>author</key>
							<integer>0</integer>
							<key>state</key>
							<integer>0</integer>
							<key>webPageSourceStateReplaceStr_Array</key>
							<array/>
							<key>coverImageUrl</key>
							<integer>0</integer>
							<key>comicDetailPageUrl</key>
							<integer>0</integer>
						</dict>
						<key>nextPageRegex</key>
						<dict>
							<key>regex</key>
							<string></string>
							<key>pages</key>
							<integer>0</integer>
						</dict>
					</dict>
				</dict>
				<key>searchOfIsJson</key>
				<dict>
					<key>searchComicDetailPageUrlStringByReplacing_ComicUrlFormat</key>
					<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getcomicinfo/?comic_id=@</string>
					<key>searchComicCoverImageUrlStringByReplacing_CoverImageUrlFormat</key>
					<string>http://image.jjmh.com/mh/@.jpg</string>
					<key>searchJsonResponse_ObjectForKey_Array</key>
					<array>
						<string>data</string>
					</array>
					<key>searchComicDetailPageUrlStringPaging_Array</key>
					<array/>
					<key>searchComicCoverImageUrlStringPaging_Array</key>
					<array/>
					<key>searchComidDetailsResponseString_DeteleStr</key>
					<string>http://getconfig-globalapi.yyhao.com/app_api/v5/getcomicinfo/?comic_id=@</string>
					<key>searchKey</key>
					<dict>
						<key>nameKey</key>
						<string>comic_name</string>
						<key>comicUrlKey</key>
						<string>comic_id</string>
						<key>stateWithDicShow_StrIsYES_NumIsNO</key>
						<true/>
						<key>stateKey</key>
						<string>last_chapter_name</string>
						<key>autherKey</key>
						<string></string>
						<key>imageUrlKey</key>
						<string>comic_id</string>
					</dict>
				</dict>
			</dict>
			<key>downloadOfChooseList</key>
			<dict>
				<key>downloadPageType_HTMLIsYES_JSONIsNO</key>
				<false/>
				<key>downloadIsUseOnlineBrowserOrOnlineDLbrowser</key>
				<true/>
				<key>downloadUrlListStringFotmatIsReplace_NeedIsYES_OrIsNO</key>
				<false/>
				<key>downloadMainUrlIsNeedReplace_NeedIsYES_OrIsNO</key>
				<false/>
				<key>downloadUrlWithJavaScript_Dict</key>
				<dict>
					<key>javaScriptSoundCode</key>
					<string></string>
					<key>javaScriptUrlModelRegular</key>
					<string></string>
					<key>javaScriptUrlModelRegexNum</key>
					<string></string>
					<key>javaScriptUrlCountRegular</key>
					<string></string>
					<key>javaScriptUrlCountRegexNum</key>
					<string></string>
					<key>javaScriptUrlModelExist_Path</key>
					<string></string>
					<key>javaScriptUrlModelExist_PathRegluar</key>
					<string></string>
					<key>javaScripSeparateString</key>
					<string></string>
					<key>javaScriptUrlModelNotExist_Urls</key>
					<string></string>
					<key>javaScriptUrlReplaceStr</key>
					<string></string>
					<key>javaScriptImageUrl</key>
					<string></string>
					<key>javaScriptSqlitString</key>
					<string></string>
					<key>javaScriptSeverHead</key>
					<string></string>
					<key>javaScriptComicUrlNeedReplaceStr</key>
					<string></string>
				</dict>
				<key>downloadUrlList</key>
				<array/>
				<key>downloadOfIsHtml</key>
				<dict>
					<key>downloadImageUrlNeedConvert_DelLastStrNum</key>
					<integer>0</integer>
					<key>downloadImageHostRefererSplicingFormat</key>
					<string></string>
					<key>downloadImageUrlNeedConvert_AppendingStr</key>
					<string>-p#/</string>
					<key>downloadImageUrlBeginForm_0Or1</key>
					<integer>0</integer>
					<key>downloadEstablishDiction_InitialUserAgent</key>
					<dict>
						<key>UserAgent</key>
						<string>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.104 Safari/537.36</string>
					</dict>
					<key>downloadEstablishDiction_AmendUserAgent</key>
					<dict>
						<key>UserAgent</key>
						<string>Mozilla/5.0 (iPhone; CPU iPhone OS 10_10 like Mac OS X) AppleWebKit/600.1.4 (KHTML, like Gecko) Mobile/12B411</string>
					</dict>
					<key>downloadWebPageSourceReplaceStr_Array</key>
					<array/>
					<key>downloadSelectOfMethod_Arr</key>
					<array/>
				</dict>
				<key>downloadOfIsJson</key>
				<dict>
					<key>downloadAnalysisJsonNeed_SBJSONIsYES_NSJSONSerializationIsNO</key>
					<true/>
					<key>downloadUrlStringWithMainUrl</key>
					<string></string>
					<key>downloadInfoObjectForKey_KeysArray</key>
					<array/>
					<key>downloadWebPageSourceKey</key>
					<dict/>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
