<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PlistInfo</key>
	<dict>
		<key>ver</key>
		<integer>1</integer>
		<key>updateUrl</key>
		<string>https://gitee.com/please_call_me_god/comics/raw/master/FeiChangAiMan.plist</string>
	</dict>
	<key>Servers</key>
	<array>
		<dict>
			<key>title</key>
			<string>非常爱漫ⓩ</string>
			<key>mainURL</key>
			<string>http://www.veryimapp.com</string>
			<key>serverOnlyID</key>
			<real>1058</real>
			<key>miniAppVer</key>
			<string>com.MX.mhb:1.2.1;com.hts.hjdm:1.1.3;</string>
			<key>headersForWebPage</key>
			<dict>
				<key>User-Agent</key>
				<string>Mozilla/5.0 (iPhone; CPU iPhone OS 9_2 like Mac OS X) AppleWebKit/601.1 (KHTML, like Gecko) CriOS/47.0.2526.107 Mobile/13C75 Safari/601.1.46</string>
				<key>Accept</key>
				<string>text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8</string>
				<key>Referer</key>
				<string>http://www.veryimapp.com/</string>
				<key>Accept-Encoding</key>
				<string>gzip, deflate</string>
				<key>Accept-Language</key>
				<string>zh-CN,zh;q=0.9</string>
				<key>Cookie</key>
				<string>UM_distinctid=169751db5e986-0a59ee9c7d98a5-36667905-1aeaa0-169751db5ea132; Hm_lvt_c068a9e5ce9cfaf3ba4767b16c22dc33=1552448075; stat_2484=1; stat_3471=1; stat_1844=1; stat_4633=1; stat_54=1; stat_1554=1; stat_5597=1; CNZZDATA1255345200=1433166012-1552447626-%7C1552458426; view_history=2484%2C3471%2C1844%2C4633%2C54%2C1554%2C5597%2C5627; stat_5627=1; Hm_lpvt_c068a9e5ce9cfaf3ba4767b16c22dc33=1552459503</string>
			</dict>
			<key>headersForCoverImage</key>
			<dict>
				<key>Cookie</key>
				<string>UM_distinctid=169751db5e986-0a59ee9c7d98a5-36667905-1aeaa0-169751db5ea132; Hm_lvt_c068a9e5ce9cfaf3ba4767b16c22dc33=1552448075; stat_2484=1; stat_3471=1; stat_1844=1; stat_4633=1; stat_54=1; stat_1554=1; stat_5597=1; CNZZDATA1255345200=1433166012-1552447626-%7C1552458426; view_history=2484%2C3471%2C1844%2C4633%2C54%2C1554%2C5597%2C5627; stat_5627=1; Hm_lpvt_c068a9e5ce9cfaf3ba4767b16c22dc33=1552459503</string>
				<key>Accept-Language</key>
				<string>zh-CN,zh;q=0.9</string>
				<key>Accept-Encoding</key>
				<string>gzip, deflate</string>
				<key>Referer</key>
				<string>http://www.veryimapp.com/</string>
				<key>Accept</key>
				<string>text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8</string>
				<key>User-Agent</key>
				<string>Mozilla/5.0 (iPhone; CPU iPhone OS 9_2 like Mac OS X) AppleWebKit/601.1 (KHTML, like Gecko) CriOS/47.0.2526.107 Mobile/13C75 Safari/601.1.46</string>
			</dict>
			<key>headersForDownloadComicImage</key>
			<dict>
				<key>Cookie</key>
				<string>UM_distinctid=169751db5e986-0a59ee9c7d98a5-36667905-1aeaa0-169751db5ea132; Hm_lvt_c068a9e5ce9cfaf3ba4767b16c22dc33=1552448075; stat_2484=1; stat_3471=1; stat_1844=1; stat_4633=1; stat_54=1; stat_1554=1; stat_5597=1; CNZZDATA1255345200=1433166012-1552447626-%7C1552458426; view_history=2484%2C3471%2C1844%2C4633%2C54%2C1554%2C5597%2C5627; stat_5627=1; Hm_lpvt_c068a9e5ce9cfaf3ba4767b16c22dc33=1552459503</string>
				<key>Accept-Language</key>
				<string>zh-CN,zh;q=0.9</string>
				<key>Accept-Encoding</key>
				<string>gzip, deflate</string>
				<key>Referer</key>
				<string>http://www.veryimapp.com/</string>
				<key>Accept</key>
				<string>text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8</string>
				<key>User-Agent</key>
				<string>Mozilla/5.0 (iPhone; CPU iPhone OS 9_2 like Mac OS X) AppleWebKit/601.1 (KHTML, like Gecko) CriOS/47.0.2526.107 Mobile/13C75 Safari/601.1.46</string>
			</dict>
			<key>headersForOnlineViewComicImage</key>
			<dict>
				<key>Cookie</key>
				<string>UM_distinctid=169751db5e986-0a59ee9c7d98a5-36667905-1aeaa0-169751db5ea132; Hm_lvt_c068a9e5ce9cfaf3ba4767b16c22dc33=1552448075; stat_2484=1; stat_3471=1; stat_1844=1; stat_4633=1; stat_54=1; stat_1554=1; stat_5597=1; CNZZDATA1255345200=1433166012-1552447626-%7C1552458426; view_history=2484%2C3471%2C1844%2C4633%2C54%2C1554%2C5597%2C5627; stat_5627=1; Hm_lpvt_c068a9e5ce9cfaf3ba4767b16c22dc33=1552459503</string>
				<key>Accept-Language</key>
				<string>zh-CN,zh;q=0.9</string>
				<key>Accept-Encoding</key>
				<string>gzip, deflate</string>
				<key>Referer</key>
				<string>http://www.veryimapp.com/</string>
				<key>Accept</key>
				<string>text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8</string>
				<key>User-Agent</key>
				<string>Mozilla/5.0 (iPhone; CPU iPhone OS 9_2 like Mac OS X) AppleWebKit/601.1 (KHTML, like Gecko) CriOS/47.0.2526.107 Mobile/13C75 Safari/601.1.46</string>
			</dict>
			<key>removeNoShowOfComicNameList</key>
			<array>
				<string>阎王法则</string>
				<string>青空之夏</string>
				<string>哑舍</string>
				<string>我不是精分</string>
				<string>狐狸的枷锁</string>
			</array>
			<key>classOfChooseList</key>
			<dict>
				<key>Classes</key>
				<array>
					<dict>
						<key>title</key>
						<string>少年漫画</string>
						<key>url1</key>
						<string>http://www.veryimapp.com/index.php?r=comic/list&amp;letter=&amp;category_id=1&amp;story_id=&amp;tag_id=&amp;status=0&amp;show=grid&amp;sort=update&amp;page=1</string>
						<key>url</key>
						<string>http://www.veryimapp.com/index.php?r=comic/list&amp;letter=&amp;category_id=1&amp;story_id=&amp;tag_id=&amp;status=0&amp;show=grid&amp;sort=update&amp;page=@</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>title</key>
						<string>青年漫画</string>
						<key>url1</key>
						<string>http://www.veryimapp.com/index.php?r=comic/list&amp;letter=&amp;category_id=2&amp;story_id=&amp;tag_id=&amp;status=&amp;show=grid&amp;sort=update&amp;page=1</string>
						<key>url</key>
						<string>http://www.veryimapp.com/index.php?r=comic/list&amp;letter=&amp;category_id=2&amp;story_id=&amp;tag_id=&amp;status=&amp;show=grid&amp;sort=update&amp;page=@</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>title</key>
						<string>少女漫画</string>
						<key>url1</key>
						<string>http://www.veryimapp.com/index.php?r=comic/list&amp;letter=&amp;category_id=3&amp;story_id=&amp;tag_id=&amp;status=&amp;show=grid&amp;sort=update&amp;page=1</string>
						<key>url</key>
						<string>http://www.veryimapp.com/index.php?r=comic/list&amp;letter=&amp;category_id=3&amp;story_id=&amp;tag_id=&amp;status=&amp;show=grid&amp;sort=update&amp;page=@</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>classGetResponseIsPostMethod_PostDataKeys_Dict</key>
				<dict/>
				<key>classGetResponseIsPostMethod_PostData_PageNoKey</key>
				<string>pageno</string>
				<key>classGetResponseIsPostMethod_PostData_PageSizeKey</key>
				<string>pagesize</string>
				<key>classGetResponseIsPostMethod_PostData_ClassIDKey</key>
				<string>subject</string>
				<key>classComicCoverImageUrlMainUrl</key>
				<string></string>
				<key>classPageType_HTMLIsYES_JSONIsNO</key>
				<true/>
				<key>classOfIsHtml</key>
				<dict>
					<key>classWebPageSourceCharset_UTF8IsYES_GB2312IsNo</key>
					<true/>
					<key>classWebPageSourceReplaceStr_Array</key>
					<array>
						<string>换行</string>
						<string>回车</string>
					</array>
					<key>classWebPageSourceResolveBegin</key>
					<string></string>
					<key>classWebPageSourceResolveEnd</key>
					<string></string>
					<key>classWebPageSourceRegex</key>
					<dict>
						<key>regex</key>
						<string>&lt;a href=&quot;(.*?)&quot;&gt;@@@###						&lt;img src=&apos;(.*?)&apos;/&gt;@@@###						&lt;div class=&quot;mask&quot;&gt;&lt;/div&gt;@@@###						&lt;span class=&quot;mask&quot;&gt;&lt;/span&gt;@@@###						&lt;span class=&quot;chname&quot;&gt;&lt;em&gt;(.*?)&lt;/em&gt;&lt;/span&gt;@@@###					&lt;/a&gt;@@@###					&lt;p&gt;&lt;a href=&quot;(.*?)&quot;&gt;(.*?)&lt;/a&gt;&lt;/p&gt;@@@###					&lt;p&gt;(.*?)&lt;/p&gt;</string>
						<key>name</key>
						<integer>5</integer>
						<key>author</key>
						<integer>3</integer>
						<key>state</key>
						<integer>3</integer>
						<key>stateStringBegin</key>
						<string></string>
						<key>coverImageUrl</key>
						<integer>2</integer>
						<key>coverImageUrlIsNeedUTF8Encode</key>
						<false/>
						<key>comicDetailPageUrl</key>
						<integer>4</integer>
						<key>comicDetailPageIsNeedAddMainUrl</key>
						<string></string>
					</dict>
					<key>classEndPageFlag</key>
					<string>&lt;!-- /col-main --&gt;</string>
				</dict>
				<key>classOfIsJson</key>
				<dict>
					<key>classJsonResponse_ObjectForKey_Array</key>
					<array/>
					<key>classJsonSetHTTPMethod_POSTOrGET</key>
					<string></string>
					<key>classComicDetailPageUrlStringByReplacing_ComicUrlFormat</key>
					<string></string>
					<key>classComicCoverImageUrlStringByReplacing_CoverImageUrlFormat</key>
					<string></string>
					<key>classComicNextPageIsNotFixationAdd</key>
					<false/>
					<key>classJsonNextPageResponse_ObjectForKey_Array</key>
					<array/>
					<key>classJsonNextPageNumWithKey</key>
					<string></string>
					<key>classKey</key>
					<dict>
						<key>nameKey</key>
						<string></string>
						<key>authorKey</key>
						<string></string>
						<key>stateWithDicShow_StrIsYES_NumIsNO</key>
						<true/>
						<key>stateKey</key>
						<string></string>
						<key>imageUrlKey</key>
						<string></string>
						<key>comicUrlKey</key>
						<string></string>
					</dict>
				</dict>
			</dict>
			<key>updateOfChooseList</key>
			<dict>
				<key>updateComicUrlWithDataIsNeedNowTime_Dict</key>
				<dict/>
				<key>updatePageMainUrl</key>
				<string>http://www.veryimapp.com/index.php?r=comic/list&amp;status=0&amp;show=grid&amp;sort=update</string>
				<key>updateGetResponseIsPostMethod_PostDataKeys_Dict</key>
				<dict/>
				<key>updateGetResponseIsPostMethod_PostData_PageNoKey</key>
				<string>pageno</string>
				<key>updateGetResponseIsPostMethod_PostData_PageSizeKey</key>
				<string>pagesize</string>
				<key>updateGetResponseIsPostMethod_PostData_ClassIDKey</key>
				<string>subject</string>
				<key>updateComicCoverImageUrlMainUrl</key>
				<string></string>
				<key>updatePageType_HTMLIsYES_JSONIsNO</key>
				<true/>
				<key>updateOfIsHtml</key>
				<dict>
					<key>updateWebPageSourceCharset_UTF8IsYES_GB2312IsNo</key>
					<true/>
					<key>updateWebPageSourceRepleaseStr_Array</key>
					<array>
						<string>换行</string>
						<string>回车</string>
						<string>&lt;link</string>
					</array>
					<key>updateWebPageSourceResolveBegin</key>
					<string></string>
					<key>updateWebPageSourceResolveEnd</key>
					<string></string>
					<key>updateWebPageSourceRegex</key>
					<dict>
						<key>regex</key>
						<string>&lt;a href=&quot;(.*?)&quot;&gt;@@@###						&lt;img src=&apos;(.*?)&apos;/&gt;@@@###						&lt;div class=&quot;mask&quot;&gt;&lt;/div&gt;@@@###						&lt;span class=&quot;mask&quot;&gt;&lt;/span&gt;@@@###						&lt;span class=&quot;chname&quot;&gt;&lt;em&gt;(.*?)&lt;/em&gt;&lt;/span&gt;@@@###					&lt;/a&gt;@@@###					&lt;p&gt;&lt;a href=&quot;(.*?)&quot;&gt;(.*?)&lt;/a&gt;&lt;/p&gt;@@@###					&lt;p&gt;(.*?)&lt;/p&gt;</string>
						<key>name</key>
						<integer>5</integer>
						<key>author</key>
						<integer>3</integer>
						<key>state</key>
						<integer>3</integer>
						<key>stateStringBegin</key>
						<string></string>
						<key>coverImageUrl</key>
						<integer>2</integer>
						<key>coverImageUrlIsNeedUTF8Encode</key>
						<false/>
						<key>comicDetailPageUrl</key>
						<integer>4</integer>
						<key>comicDetailPageIsNeedAddMainUrl</key>
						<string></string>
					</dict>
				</dict>
				<key>updateOfIsJson</key>
				<dict>
					<key>updateJsonResponse_ObjectForKey_Array</key>
					<array/>
					<key>updateComicDetailPageUrlStringByReplacing_ComicUrlFormat</key>
					<string></string>
					<key>updateComicCoverImageUrlStringByReplacing_CoverImageUrlFormat</key>
					<string></string>
					<key>updateKey</key>
					<dict>
						<key>nameKey</key>
						<string></string>
						<key>authorKey</key>
						<string></string>
						<key>stateWithDicShow_StrIsYES_NumIsNO</key>
						<true/>
						<key>stateKey</key>
						<string></string>
						<key>imageUrlKey</key>
						<string></string>
						<key>comicUrlKey</key>
						<string></string>
					</dict>
				</dict>
			</dict>
			<key>hotOfChoosseList</key>
			<dict>
				<key>hotPageMainUrl</key>
				<string>http://www.veryimapp.com/index.php?r=comic/list&amp;status=1&amp;show=grid&amp;sort=update</string>
				<key>hotGetResponseIsPostMethod_PostDataKeys_Dict</key>
				<dict/>
				<key>hotGetResponseIsPostMethod_PostData_PageNoKey</key>
				<string>pageno</string>
				<key>hotGetResponseIsPostMethod_PostData_PageSizeKey</key>
				<string>pagesize</string>
				<key>hotGetResponseIsPostMethod_PostData_ClassIDKey</key>
				<string>subject</string>
				<key>hotComicCoverImageUrlMainUrl</key>
				<string></string>
				<key>hotPageType_HTMLIsYES_JSONIsNO</key>
				<true/>
				<key>hotOfIsHtml</key>
				<dict>
					<key>hotWebPageSourceCharset_UTF8IsYES_GB2312IsNo</key>
					<true/>
					<key>hotWebPageSourceRepleaseStr_Array</key>
					<array>
						<string>换行</string>
						<string>回车</string>
						<string>&lt;link</string>
					</array>
					<key>hotWebPageSourceResolveBegin</key>
					<string></string>
					<key>hotWebPageSourceResolveEnd</key>
					<string></string>
					<key>hotWebPageSourceRegex</key>
					<dict>
						<key>regex</key>
						<string>&lt;a href=&quot;(.*?)&quot;&gt;@@@###						&lt;img src=&apos;(.*?)&apos;/&gt;@@@###						&lt;div class=&quot;mask&quot;&gt;&lt;/div&gt;@@@###						&lt;span class=&quot;mask&quot;&gt;&lt;/span&gt;@@@###						&lt;span class=&quot;chname&quot;&gt;&lt;em&gt;(.*?)&lt;/em&gt;&lt;/span&gt;@@@###					&lt;/a&gt;@@@###					&lt;p&gt;&lt;a href=&quot;(.*?)&quot;&gt;(.*?)&lt;/a&gt;&lt;/p&gt;@@@###					&lt;p&gt;(.*?)&lt;/p&gt;</string>
						<key>name</key>
						<integer>5</integer>
						<key>author</key>
						<integer>3</integer>
						<key>state</key>
						<integer>3</integer>
						<key>stateStringBegin</key>
						<string></string>
						<key>coverImageUrl</key>
						<integer>2</integer>
						<key>coverImageUrlIsNeedUTF8Encode</key>
						<false/>
						<key>comicDetailPageUrl</key>
						<integer>4</integer>
						<key>comicDetailPageIsNeedAddMainUrl</key>
						<string></string>
					</dict>
				</dict>
				<key>hotOfIsJson</key>
				<dict>
					<key>hotJsonResponse_ObjectForKey_Array</key>
					<array/>
					<key>hotComicDetailPageUrlStringByReplacing_ComicUrlFormat</key>
					<string></string>
					<key>hotComicCoverImageUrlStringByReplacing_CoverImageUrlFormat</key>
					<string></string>
					<key>hotKey</key>
					<dict>
						<key>nameKey</key>
						<string></string>
						<key>authorKey</key>
						<string></string>
						<key>stateWithDicShow_StrIsYES_NumIsNO</key>
						<true/>
						<key>stateKey</key>
						<string></string>
						<key>imageUrlKey</key>
						<string></string>
						<key>comicUrlKey</key>
						<string></string>
					</dict>
				</dict>
			</dict>
			<key>detailsOfChooseList</key>
			<dict>
				<key>detailsPageType_HTMLIsYES_JSONIsNO</key>
				<true/>
				<key>detailsReplaceStringIsNeedReturnReplace_NeedIsYES_OrIsNO</key>
				<true/>
				<key>detailComicListIsSortedYESOrNo</key>
				<true/>
				<key>detailsOfIsHtml</key>
				<dict>
					<key>detailsWebPageSourceCharset_UTF8IsYES_GB2312IsNo</key>
					<true/>
					<key>detailsWebPageSourceReplaceStr_Array</key>
					<array>
						<string>换行</string>
						<string>回车</string>
					</array>
					<key>detailsWebPageSourceRe_ReplaceStr_Array</key>
					<array>
						<string>###</string>
						<string>@@@</string>
					</array>
					<key>detailsCoverImageUrlDeleteStr_Array</key>
					<array>
						<string>换行</string>
						<string>回车</string>
					</array>
					<key>detailsWebPageSourceRegex</key>
					<dict>
						<key>authorRegular</key>
						<string>&lt;a href=&quot;(.*?)&quot; title=&quot;查看 (.*?) 相关作品&quot;&gt;(.*?)&lt;/a&gt;</string>
						<key>authorIndex</key>
						<integer>3</integer>
						<key>stateRegular</key>
						<string>&lt;li&gt;状态：(.*?)&lt;/li&gt;</string>
						<key>stateIndex</key>
						<integer>1</integer>
						<key>favStateRegular</key>
						<string>&lt;li&gt;最新：(.*?)&lt;/li&gt;</string>
						<key>favStateIndex</key>
						<integer>1</integer>
						<key>updateDateRegular</key>
						<string>&lt;li&gt;更新：(.*?)&lt;/li&gt;</string>
						<key>updateDateIndex</key>
						<integer>1</integer>
						<key>introRegular</key>
						<string>&lt;meta name=&quot;description&quot; content=&quot;(.*?)&quot;&gt;</string>
						<key>introIndex</key>
						<integer>1</integer>
						<key>coverImageRegular</key>
						<string>&lt;img src=&quot;(.*?)&quot; class=&quot;cover&quot;/&gt;</string>
						<key>coverImageIndex</key>
						<integer>1</integer>
						<key>coverImageStringEnd</key>
						<string></string>
						<key>subListStart</key>
						<string>&lt;div class=&quot;chapters&quot;&gt;</string>
						<key>subListEnd</key>
						<string></string>
						<key>subListRegular</key>
						<string>&lt;a href=&quot;(.*?)&quot; target=&apos;_blank&apos; title=&quot;(.*?)&quot;&gt;(.*?)&lt;/a&gt;</string>
						<key>subTitleIndex</key>
						<integer>2</integer>
						<key>subUrlIndex</key>
						<integer>1</integer>
					</dict>
					<key>detailsWebPageSourceNewRegex</key>
					<dict>
						<key>detailsNewComicUrl</key>
						<string></string>
						<key>authorRegular</key>
						<string></string>
						<key>authorIndex</key>
						<integer>0</integer>
						<key>stateRegular</key>
						<string></string>
						<key>stateIndex</key>
						<integer>0</integer>
						<key>favStateRegular</key>
						<string></string>
						<key>favStateIndex</key>
						<integer>0</integer>
						<key>updateDateRegular</key>
						<string></string>
						<key>updateDateIndex</key>
						<integer>0</integer>
						<key>introRegular</key>
						<string></string>
						<key>introIndex</key>
						<integer>0</integer>
						<key>coverImageRegular</key>
						<string></string>
						<key>coverImageIndex</key>
						<integer>0</integer>
						<key>coverImageStringEnd</key>
						<string></string>
						<key>subListStart</key>
						<string>章节列表</string>
						<key>subListEnd</key>
						<string></string>
						<key>subListRegular</key>
						<string></string>
						<key>subTitleIndex</key>
						<integer>0</integer>
						<key>subUrlIndex</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>detailsOfIsJson</key>
				<dict>
					<key>detailsForListIsNeedDataOfOldDic_NeedIsYES_OrIsNO</key>
					<false/>
					<key>detailsComicCoverImageUrlNeedInfoKey_NeedIsYES_OrIsNO</key>
					<true/>
					<key>detailsComponentsSeparatedByStringWithUrl</key>
					<string></string>
					<key>detailsJsonResponse_ObjectForKey_DetailsArray</key>
					<array/>
					<key>detailsJsonResponse_ObjectForKey_ListArray</key>
					<array/>
					<key>detailsInfoKey</key>
					<dict>
						<key>comicMainURL_NeedReplaceFormat</key>
						<string></string>
						<key>comicUpdateTimeKey</key>
						<string></string>
						<key>comicUpdateTimeIsNeedInterval</key>
						<false/>
						<key>comicStateKey</key>
						<string></string>
						<key>comicStateWithDicShow_StrIsYES_NumIsNO</key>
						<false/>
						<key>comicStateDicKeyArray</key>
						<array/>
						<key>comicStateArrayNum</key>
						<integer>0</integer>
						<key>comicAutherKey</key>
						<string></string>
						<key>comicAuthorDicKeyArray</key>
						<array/>
						<key>comicAuthorArrayNum</key>
						<integer>0</integer>
						<key>comicIntroKey</key>
						<string></string>
						<key>comicIntroDicKeyArray</key>
						<array/>
						<key>comicIntroArrayNum</key>
						<integer>0</integer>
						<key>comicCoverImageUrl</key>
						<string></string>
						<key>comicCoverImageDicKeyArray</key>
						<array/>
						<key>comicCoverImageArrayNum</key>
						<integer>0</integer>
						<key>comicWithCookie_Regular</key>
						<string></string>
						<key>cookieHeadNum</key>
						<integer>0</integer>
						<key>cookieEndNum</key>
						<integer>0</integer>
					</dict>
					<key>detailsSubListKey</key>
					<dict>
						<key>subListURL_NeedReplaceFormat</key>
						<string></string>
						<key>subListObjectForKey_UrlKey</key>
						<string></string>
						<key>subListManuallyChooseResources_NeedArrayNum</key>
						<integer>-1</integer>
						<key>subListNewComicResources_ObjectForKey_ListArray</key>
						<array/>
						<key>subListShowDictHaveArrayTotalNumber_Key</key>
						<string></string>
						<key>subOneListURL</key>
						<string></string>
						<key>subListTitleKey</key>
						<string></string>
						<key>subListUrlKey</key>
						<string></string>
						<key>subNextUrlKey</key>
						<string></string>
					</dict>
				</dict>
			</dict>
			<key>searchOfChooseList</key>
			<dict>
				<key>searchKeyWordConvertString_NeedUTF8IsYES_GB2312IsNO</key>
				<true/>
				<key>searchPageType_HTMLIsYES_JSONIsNO</key>
				<true/>
				<key>searchComicMainUrlIsChange_ReplaceMainUrl</key>
				<string></string>
				<key>searchMainUrlStringWithSplite_ArrayOfNum</key>
				<integer>0</integer>
				<key>searchPageComicMainUrl</key>
				<string>http://www.veryimapp.com/index.php?r=comic/search&amp;keyword=@&amp;page=1</string>
				<key>searchPageComicMainUrlNextUrl</key>
				<string>http://www.veryimapp.com/index.php?r=comic/search&amp;keyword=@&amp;page=#</string>
				<key>searchResponseIsNeedPagingMethod_NeedIsYES_OrIsNO</key>
				<true/>
				<key>searchResponseIsPagingMethod_PageKeys_Dict</key>
				<dict>
					<key>pagingMethod_pageNum</key>
					<integer>0</integer>
					<key>pagingMethod_replaceStr</key>
					<string>#</string>
					<key>pagingMethod_divisionStr</key>
					<string></string>
				</dict>
				<key>searchAllResponseIsPagingMethod_PageKeys_Dict</key>
				<dict>
					<key>page</key>
					<string>28</string>
				</dict>
				<key>searchWebPageSourceReplaceStr_Array</key>
				<array>
					<string>换行</string>
					<string>回车</string>
				</array>
				<key>searchOfIsHtml</key>
				<dict>
					<key>searchComicUrlHasSuffixIsPHP</key>
					<false/>
					<key>searchPageHasNextPage</key>
					<true/>
					<key>searchCharset_UTF8IsYES_GB2312IsNo</key>
					<false/>
					<key>searchWebPageSourceResolveBegin</key>
					<string></string>
					<key>searchWebPageSourceResolveEnd</key>
					<string></string>
					<key>searchPageRegularRegex</key>
					<dict>
						<key>searchViewstateRegex</key>
						<string></string>
						<key>searchEventvalidationRegex</key>
						<string></string>
						<key>searchPostParameter</key>
						<dict/>
						<key>searchSetHTTPMethod_POSTOrGET</key>
						<string>GET</string>
						<key>searchResultsRegularRegex</key>
						<dict>
							<key>regex</key>
							<string>&lt;a href=&quot;(.*?)&quot;&gt;@@@###						&lt;img src=&apos;(.*?)&apos;/&gt;@@@###						&lt;div class=&quot;mask&quot;&gt;&lt;/div&gt;@@@###						&lt;span class=&quot;mask&quot;&gt;&lt;/span&gt;@@@###						&lt;span class=&quot;chname&quot;&gt;&lt;em&gt;(.*?)&lt;/em&gt;&lt;/span&gt;@@@###					&lt;/a&gt;@@@###					&lt;p&gt;&lt;a href=&quot;(.*?)&quot;&gt;(.*?)&lt;/a&gt;&lt;/p&gt;@@@###					&lt;p&gt;(.*?)&lt;/p&gt;</string>
							<key>name</key>
							<integer>5</integer>
							<key>webPageSourceNameReplaceStr_Array</key>
							<array/>
							<key>author</key>
							<integer>3</integer>
							<key>state</key>
							<integer>3</integer>
							<key>webPageSourceStateReplaceStr_Array</key>
							<array/>
							<key>coverImageUrl</key>
							<integer>2</integer>
							<key>comicDetailPageUrl</key>
							<integer>4</integer>
						</dict>
						<key>nextPageRegex</key>
						<dict>
							<key>regex</key>
							<string>&lt;em&gt;下一页&lt;/em&gt;&lt;/a&gt;&lt;a href=&quot;(.*?)&quot; class=&quot;last&quot; title=&quot;尾页&quot; id=&quot;k_2&quot;&gt;&lt;em&gt;尾页&lt;/em&gt;</string>
							<key>pages</key>
							<integer>1</integer>
						</dict>
					</dict>
				</dict>
				<key>searchOfIsJson</key>
				<dict>
					<key>searchComicDetailPageUrlStringByReplacing_ComicUrlFormat</key>
					<string></string>
					<key>searchJsonResponse_ObjectForKey_Array</key>
					<array/>
					<key>searchComicDetailPageUrlStringPaging_Array</key>
					<array/>
					<key>searchComicCoverImageUrlStringPaging_Array</key>
					<array/>
					<key>searchComidDetailsResponseString_DeteleStr</key>
					<string></string>
					<key>searchKey</key>
					<dict>
						<key>nameKey</key>
						<string></string>
						<key>comicUrlKey</key>
						<string></string>
						<key>stateWithDicShow_StrIsYES_NumIsNO</key>
						<true/>
						<key>stateKey</key>
						<string></string>
						<key>autherKey</key>
						<string></string>
						<key>imageUrlKey</key>
						<string></string>
					</dict>
				</dict>
			</dict>
			<key>downloadOfChooseList</key>
			<dict>
				<key>downloadPageType_HTMLIsYES_JSONIsNO</key>
				<true/>
				<key>downloadIsUseOnlineBrowserOrOnlineDLbrowser</key>
				<true/>
				<key>downloadUrlListStringFotmatIsReplace_NeedIsYES_OrIsNO</key>
				<false/>
				<key>downloadMainUrlIsNeedReplace_NeedIsYES_OrIsNO</key>
				<false/>
				<key>downloadUrlWithJavaScript_Dict</key>
				<dict>
					<key>javaScriptSoundCode</key>
					<string>document.documentElement.innerHTML</string>
					<key>javaScriptUrlModelRegular</key>
					<string></string>
					<key>javaScriptUrlModelRegexNum</key>
					<string></string>
					<key>javaScriptUrlCountRegular</key>
					<string></string>
					<key>javaScriptUrlCountRegexNum</key>
					<string></string>
					<key>javaScriptUrlModelExist_Path</key>
					<string></string>
					<key>javaScriptUrlModelExist_PathRegluar</key>
					<string></string>
					<key>javaScripSeparateString</key>
					<string></string>
					<key>javaScriptUrlModelNotExist_Urls</key>
					<string></string>
					<key>javaScriptUrlReplaceStr</key>
					<string></string>
					<key>javaScriptImageUrl</key>
					<string>imageData.substring(2,imageData.length-2).toString()</string>
					<key>javaScriptSqlitString</key>
					<string>&quot;,&quot;</string>
					<key>javaScriptSeverHead</key>
					<string></string>
					<key>javaScriptComicUrlNeedReplaceStr</key>
					<string></string>
				</dict>
				<key>downloadUrlList</key>
				<array/>
				<key>downloadOfIsHtml</key>
				<dict>
					<key>downloadImageUrlNeedConvert_DelLastStrNum</key>
					<integer>1</integer>
					<key>downloadImageHostRefererSplicingFormat</key>
					<string>f=http://comic.sfacg.com/</string>
					<key>downloadImageUrlNeedConvert_AppendingStr</key>
					<string>-p#/</string>
					<key>downloadImageUrlBeginForm_0Or1</key>
					<integer>0</integer>
					<key>downloadEstablishDiction_InitialUserAgent</key>
					<dict>
						<key>UserAgent</key>
						<string>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.104 Safari/537.36</string>
					</dict>
					<key>downloadEstablishDiction_AmendUserAgent</key>
					<dict>
						<key>UserAgent</key>
						<string>Mozilla/5.0 (iPhone; CPU iPhone OS 10_10 like Mac OS X) AppleWebKit/600.1.4 (KHTML, like Gecko) Mobile/12B411</string>
					</dict>
					<key>downloadWebPageSourceReplaceStr_Array</key>
					<array/>
					<key>downloadSelectOfMethod_Arr</key>
					<array>
						<string>9</string>
						<string>10</string>
					</array>
				</dict>
				<key>downloadOfIsJson</key>
				<dict>
					<key>downloadAnalysisJsonNeed_SBJSONIsYES_NSJSONSerializationIsNO</key>
					<false/>
					<key>downloadUrlStringWithMainUrl</key>
					<string></string>
					<key>downloadInfoObjectForKey_KeysArray</key>
					<array/>
					<key>downloadWebPageSourceKey</key>
					<dict/>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
